<div class="container-fluid">
  <div class="col-md-3 col-xs-12">
    logo
  </div>
  <div class="dropdown">
    <div class="col-md-2 col-md-offset-7 col-xs-12">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/">Standard Reports</a></li>
        <li><a href="/custom-report">Custom Reports</a></li>
        <li><a href="/data-upload">Upload</a></li>
      </ul>
    </div>
  </div>
</div>

</div>
<div class=container>

<div id="dataSetContainer" class="col-xs-3">
  <div id="expanderDiv" ng-repeat="category in customCtrl.dataSetList" >
    <div id="categoryTitle">
    {{category.title}}
    </div>
    <ul>
      <li ng-repeat="option in category.options" ng-click="customCtrl.addSelection(category,option)">{{option}}</li>
    </ul>
  </div>
</div>
<div id="customReportSelections" class="col-xs-3 col-xs-offset-2">
  <div id="selectionDiv" ng-repeat="category in customCtrl.dataSetSelections" >
    <div id="categoryTitle">
    {{category.title}}
    </div>
    <ul>
      <li ng-repeat="option in category.options">{{option}}</li>
    </ul>
  </div>

</div>


</div>
