<div class="container-fluid">
  <div class="col-md-3 col-xs-12">
    logo
  </div>
  <div class="dropdown">
    <div class="col-md-2 col-md-offset-7 col-xs-12">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/">Standard Reports</a></li>
        <li><a href="/custom-report">Custom Reports</a></li>
        <li><a href="/data-upload">Upload</a></li>
      </ul>
    </div>
  </div>
</div>

</div>
<div class=container>

</div>
