


<!-- header row -->
<div class="container-fluid">
  <div class="col-xs-11 col-sm-2 col-md-3 customReportHeader">
    <img src="../images/image001.png" alt="Angel Foundation Logo">
  </div>
  <div class="col-xs-11 col-sm-7 col-md-6">
    <!-- title -->
    <h1>Custom Report Creator</h1>
  </div>

  <div class="col-xs-11 col-sm-2 col-md-2">
  <div class="dropdown">

      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="/">Standard Reports</a></li>
        <li><a href="/custom-report">Custom Reports</a></li>
        <li><a href="/data-upload">Upload</a></li>
      </ul>
    </div>
  </div>
</div>


<div class=container>
  <div class="col-xs-3 text-center">


    <h3>Select Data Here</h3>
    <div id="dataSetContainer" >

      <div id="expanderDiv" ng-repeat="category in customCtrl.dataSetList | orderBy: category.title" >
        <div id="categoryTitle">
          {{category.title}}
        </div>
        <ul>
          <li ng-repeat="option in category.options | orderBy: option" ng-click="customCtrl.addSelection(category,option)">{{option}}</li>
        </ul>
      </div>
    </div>
  </div>


  <div class="col-xs-3 col-xs-offset-1 text-center">
          <h3>Data Selected</h3>

    <div id="customReportSelections" >

      <div id="selectionDiv" ng-repeat="category in customCtrl.dataSetSelections" >
        <div id="categoryTitle" ng-click="customCtrl.removeCategorySelection(category)">
          {{category.title}}
        </div>
        <ul>
          <li ng-repeat="option in category.options | orderBy: option" ng-click="customCtrl.removeOptionSelection(category,option)">{{option}}</li>
        </ul>
      </div>

    </div>
  </div>
<!-- <button ng-click="customCtrl.saveReport();"> GO DO IT</button> -->
</div>
<div class=container>
  <div class="col-xs-3 text-center">


    <h3>Select Data Here</h3>
    <div id="dataSetContainer" >

      <div id="expanderDiv" ng-repeat="category in customCtrl.columnLimitList | orderBy: category" >
        <div id="categoryTitle" ng-click="customCtrl.addColumnLimitSelection(category)">
          {{category}}
        </div>
      </div>
    </div>
  </div>


  <div class="col-xs-3 col-xs-offset-1 text-center">
          <h3>Data Selected</h3>

    <div id="customReportSelections" >

      <div id="selectionDiv" ng-repeat="category in customCtrl.columnLimitSelections" >
        <div id="categoryTitle" ng-click="customCtrl.removeColumnSelection(category)">
          {{category}}
        </div>
      </div>

    </div>
  </div>
<button ng-click="customCtrl.saveReport();"> GO DO IT</button>
</div>
