
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active" id="ethnicity">
        <input type="radio" name="options"> ethnicity
      </label>
      <label class="btn btn-primary" id="maritial">
        <input type="radio" name="options"> maritial status
      </label>
      <label class="btn btn-primary" id="diagnoses">
        <input type="radio" name="options"> diagnoses
      </label>
      <label class="btn btn-primary" id="grant">
        <input type="radio" name="options"> grant used
      </label>
      <label class="btn btn-primary" id="gender">
        <input type="radio" name="options"> gender
      </label>
    </div>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active" id="uniform">
        <input type="radio" name="options"> uniform
      </label>
      <label class="btn btn-primary" id="age">
        <input type="radio" name="options"> age
      </label>
      <label class="btn btn-primary" id="income">
        <input type="radio" name="options"> income
      </label>
    </div>
<div id="chart"></div>
