<div id="flexContainer" class="container">

  <div class="standardReportHeader col-xs-12 col-md-8">



      <div class="row" id="headerRow">
        <div class=" col-xs-2 ">
          <div class="dropdown">
            <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <ul class="dropdown-menu ">
              <li><a href="/">Standard Reports</a></li>
              <li><a href="/custom-report">Custom Reports</a></li>
              <li><a href="/data-upload">Upload</a></li>
              <li><a href="/all-vis">Data Visualization</a></li>
            </ul>
          </div>
        </div>

        <div id="headerPic" class="col-xs-4 col-xs-offset-2 ">
          <img src="../images/angel-foundation-logo-2.png" alt="Angel Foundation Logo">
        </div>
        <div class="col-xs-2 col-xs-offset-2">
          <button class="btn btn-danger" ng-click="uploadCtrl.logout()">Sign Out</button>
        </div>


      </div>

  </div>



  <div class="col-xs-12 col-md-8">
    <p><b>Patient Table last updated:</b>  {{uploadCtrl.patientTimeStamp.to_char}}</p>
    <p><b>Distributions Table last updated:</b> {{uploadCtrl.distTimeStamp.to_char}}</p>


    <!-- Setting up the tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-target="#addTab" role="tab" data-toggle="tab" ng-model="uploadCtrl.addTab" ng-class="uploadCtrl.addTabClass"  ng-click="uploadCtrl.changeActive(uploadCtrl.addTab)">Addendum</a></li>
      <li role="presentation"><a data-target="#allTab" role="tab" data-toggle="tab" ng-model="uploadCtrl.allTab" ng-class="uploadCtrl.allTabClass"  ng-click="uploadCtrl.changeActive(uploadCtrl.allTab)">All</a></li>
    </ul>

  <div class="tab-content">

    <!-- Addendum Tab -->
    <div role="tabpanel" class="tab-pane active" id="addTab">
      <h3>You are uploading an ADDENDUM</h3>
      <!-- <md-button id="uploader" class = "col-xs-2 col-xs-offset-5 md-raised"> -->

          <ng-csv-import  content="uploadCtrl.csv.content"
          material
          id="uploader"
          accept="uploadCtrl.csv.accept"
          md-button-class="md-icon-button md-raised md-accent"
          header="uploadCtrl.csv.header"
          separator="uploadCtrl.csv.separator"
          class="col-xs-4 col-xs-offset-4 md-raised btn-lg"
          result="uploadCtrl.csv.result" value="Submit">
          </ng-csv-import>
      <!-- </md-button> -->



       <md-radio-group class="col-xs-4 col-xs-offset-4" ng-model="uploadCtrl.type">
         <md-radio-button value="Patient Data" class="md-primary">Patient Data</md-radio-button>
         <md-radio-button value="Distribution Data"> Distribution Data </md-radio-button>
       </md-radio-group>



      <input id="uploadSubmit" type="submit" value="Submit" ng-click="uploadCtrl.uploadAdd($event)" placeholder="Upload" class = "md-raised md-primary col-sm-2 col-sm-offset-5">




    </div>

<!-- end of tab one ------------------------------------------------------>

      <!-- 'All' tab -->
      <div role="tabpanel" class="tab-pane" id="allTab">
          <h3>You are OVERWRITING ALL</h3>
          <!-- <button id="uploader" class = "col-xs-2 col-xs-offset-5 btn-default"> -->

              <ng-csv-import  content="uploadCtrl.csv.content"
              material
              id="uploader"
              accept="uploadCtrl.csv.accept"
              md-button-class="md-icon-button md-raised md-accent"
              header="uploadCtrl.csv.header"
              separator="uploadCtrl.csv.separator"
              class="col-xs-4 col-xs-offset-4 md-raised btn-lg"
              result="uploadCtrl.csv.result" value="Submit">
              </ng-csv-import>
          <!-- </button> -->


           <md-radio-group class="col-xs-4 col-xs-offset-4" ng-model="uploadCtrl.type">
             <md-radio-button value="Patient Data" class="md-primary">Patient Data</md-radio-button>
             <md-radio-button value="Distribution Data"> Distribution Data </md-radio-button>
           </md-radio-group>

          <input id="uploadSubmit" type="submit" value="Submit" ng-click="uploadCtrl.uploadAll($event)" placeholder="Upload" class = "md-raised md-primary col-sm-2 col-sm-offset-5">


      </div>
    </div>


    </div>
  </div>

</div>
