<a href="/">Standard Report</a>
<a href="/data-vis">County Chart</a>
<a href="/data-vis-three">Bubble Chart</a>
<a href="/d3barchart">Bar Chart</a>
<a href="/data-vis-four">Pie Chart</a>

    <div class="btn-group" data-toggle="buttons">
      <label class="catsel btn btn-primary active" id="ethnicity">
        <input type="radio" name="options"> Ethnicity
      </label>
      <label class="catsel btn btn-primary" id="marital_status">
        <input type="radio" name="options"> Maritial status
      </label>
      <label class="catsel btn btn-primary" id="householdcount">
        <input type="radio" name="options"> # in household
      </label>
      <label class="catsel btn btn-primary" id="cancer_stage">
        <input type="radio" name="options"> Cancer Stage
      </label>
      <label class="catsel btn btn-primary" id="gender">
        <input type="radio" name="options"> Gender
      </label>

    </div>

    <div class="btn-group" data-toggle="buttons">
      <label class="colsel btn btn-primary active" id="ethnicity">
        <input type="radio" name="options"> Ethnicity
      </label>
      <label class="colsel btn btn-primary" id="marital_status">
        <input type="radio" name="options"> Maritial status
      </label>
      <label class="colsel btn btn-primary" id="householdcount">
        <input type="radio" name="options"> # in household
      </label>
      <label class="colsel btn btn-primary" id="cancer_stage">
        <input type="radio" name="options"> Cancer Stage
      </label>
      <label class="colsel btn btn-primary" id="gender">
        <input type="radio" name="options"> Gender
      </label>

    </div>






    <!-- <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active" id="uniform">
        <input type="radio" name="options"> uniform
      </label>
      <label class="btn btn-primary" id="age">
        <input type="radio" name="options"> age
      </label>
      <label class="btn btn-primary" id="income">
        <input type="radio" name="options"> income
      </label>
    </div> -->
<div id="chart"></div>
