
<div class="container-fluid">
  <div class="col-md-3 col-xs-12">
    logo
  </div>
  <div class="col-md-2 col-md-offset-7 col-xs-12">
    menu button
  </div>
</div>
<div class=container>

  <button>All</button>
  <button>Addendum</button>



</div>

<ng-csv-import content="uploadCtrl.csv.content"
    material
    md-button-class="md-icon-button md-raised md-accent"
    header="csv.header"
    separator="csv.separator"
    result="uploadCtrl.csv.result"
      id="uploader"
    >
    <!-- <input type="file" placeholder="File upload" />
      <input type="submit" value="Submit" placeholder="Upload"> -->
    </ng-csv-import>
    <button ng-click="uploadCtrl.test()">button</button>
    {{csv.result}}
