
<div class="container-fluid">
  <div class="col-md-3 col-xs-12">
    logo
  </div>
  <div class="col-md-2 col-md-offset-7 col-xs-12">
    menu button
  </div>
</div>
<div class="container">
  <div class = "row">
    <div id="inputOptions" >
      <button class = "btn-default col-sm-2 col-sm-offset-3">All</button>
      <button class = "btn-default col-sm-2 col-sm-offset-2">Addendum</button>
      <br />
      <input type="file" placeholder="File upload" class = "col-sm-4 col-sm-offset-3"/>
      <input type="submit" value="Submit" placeholder="Upload" class = "btn-primary col-sm-2 ">
    </div>
  </div>

  <ng-csv-import content="uploadCtrl.csv.content"
      material
      md-button-class="md-icon-button md-raised md-accent"
      header="csv.header"
      separator="csv.separator"
      result="uploadCtrl.csv.result"
        id="uploader"> upload meeeee
      <!-- <input type="file" placeholder="File upload" />
        <input type="submit" value="Submit" placeholder="Upload"> -->
      </ng-csv-import>
      <button ng-click="uploadCtrl.test()">button</button>
      {{csv.result}}


</div>
