<a href="/">Standard Report</a>
<a href="/data-vis">County Chart</a>
<a href="/data-vis-three">Bubble Chart</a>
<a href="/d3barchart">Bar Chart</a>
<a href="/data-vis-four">Pie Chart</a>

    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active" id="Ethnic">
        <input type="radio" name="options"> ethnicity
      </label>
      <label class="btn btn-primary" id="MaritalStatus">
        <input type="radio" name="options"> maritial status
      </label>
      <label class="btn btn-primary" id="Diagnosis">
        <input type="radio" name="options"> diagnoses
      </label>
      <label class="btn btn-primary" id="MonthlyIncome">
        <input type="radio" name="options"> monthly income
      </label>
      <label class="btn btn-primary" id="Gender">
        <input type="radio" name="options"> gender
      </label>
    </div>
    <!-- <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary active" id="uniform">
        <input type="radio" name="options"> uniform
      </label>
      <label class="btn btn-primary" id="age">
        <input type="radio" name="options"> age
      </label>
      <label class="btn btn-primary" id="income">
        <input type="radio" name="options"> income
      </label>
    </div> -->
<div id="chart"></div>
