<a href="/">Standard Report</a>
<a href="/data-vis">County Chart</a>
<a href="/data-vis-three">Bubble Chart</a>
<a href="/d3barchart">Bar Chart</a>
<a href="/data-vis-four">Pie Chart</a>

<!-- <button ng-click="dataVisCtrl.getCounty()">get county</button> -->

    <div id="content">
      <div id="mapDiv">
        <svg id="mapMain"></svg>
      </div>
      <div id="countyInfo">
        <div id="dataToggle">
          <!-- <input type="radio" name="displayOptions" value="state" onclick="toggleDisplay('state');"> By Region<br/>
            <select id="statewideOptions" onchange="getSelectToggleRegion();" disabled>
            </select> <br/> -->
          <!-- <input type="radio" name="displayOptions" value="county" onclick="toggleDisplay('county');" checked> By County <br/>
            <select id="countyOptions" onchange="getSelectToggleCounty();" >
            </select> <br/><br/> -->
          <!-- <input type="checkbox" name="cycle" value="cycle" id="cycleToggle"> Cycle every 10 seconds <br/> <br/> -->
        </div>
        <div id="selectedData">
          <div id="selectedTitle"></div>
          <div id="selectedContent"></div>
          <svg id="selectedChart" width="800" height="300"></svg>
        </div>
      </div>
    </div>
    <div id="slider">

    </div>
    <div id="slidertextmin">

    </div>
    <div id="slidertextmax">

    </div>
