<div id="flexContainer" class="container">

  <div class="standardReportHeader col-xs-12 col-md-8">


      <div class="row" id="headerRow">
        <div class=" col-xs-2 ">
          <div class="dropdown">
            <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-menu-hamburger"></span>
            </button>
            <ul class="dropdown-menu ">
              <li><a href="/">Standard Reports</a></li>
              <li><a href="/custom-report">Custom Reports</a></li>
              <li><a href="/data-upload">Upload</a></li>
              <li><a href="/all-vis">Data Visualization</a></li>
            </ul>
          </div>
        </div>

        <div id="headerPic" class="col-xs-4 col-xs-offset-2 ">
          <img src="../images/angel-foundation-logo-2.png" alt="Angel Foundation Logo">
        </div>
        <div class="col-xs-12 col-md-4 ">
          <!-- title -->
          <!-- <h2>Standard Reports</h2> -->
        </div>



      </div>

  </div>





  <div class="col-xs-12 col-md-8">

    <div class="row">




    <!-- report list div -->
    <div id="standardReport-reportList" ng-class="standardCtrl.reportSelected ? 'col-xs-4 col-sm-3 col-lg-2' : 'col-xs-12' ">



      <p>
        Select a report to preview


      </p>


      <ul >
        <li ng-class="" ng-repeat="report in standardCtrl.standardReportList track by $index" ng-model="report" ng-click="standardCtrl.selectStandardReport(report)" ><span ng-model="report" >{{report.report_name}}</span>




            <span ng-show="standardCtrl.showDelete" ng-click="standardCtrl.deleteReport(report)" class="removeButton glyphicon glyphicon-remove"></span>
        </li>
      </ul>



    </div>



    <div id="standardReport-previewContainer" ng-show="standardCtrl.reportSelected" ng-class="standardCtrl.reportSelected ? 'col-xs-8 col-sm-9 col-md-9 col-lg-10' : 'zeroWidth' " >



      <!-- report preview -->
      <div id="standardReport-reportPreview" class="">
        <h1>Preview of {{standardCtrl.reportTitle}}</h1>

        <table id="previewTable">
            <p id="bg-text"></p>
          <tr>
            <th ng-repeat="key in standardCtrl.keys track by $index">{{key}}</th>
          </tr>
          <tr ng-repeat="array in standardCtrl.dataArray | limitTo: 5 track by $index" >
            <td ng-repeat="item in array track by $index">{{item}}</td>

          </tr>
        </table>
      </div>

      <div id="standardReport-reportButtons" class="container-fluid">
        <div class="row">
          <div  class="col-xs-3">
            <button type="button" class="btn btn-warning" ng-click="standardCtrl.showDeleteButton()">{{standardCtrl.showDeleteString}}</button>
          </div>


          <div id="selectionButtons" class="btn-group col-xs-9" role="group" aria-label="save as a csv file or save as a pdf button">
            <button type="button" class="btn btn-default" ng-class="standardCtrl.csvButtonClass"  ng-click="standardCtrl.goNext('csvButton')">Save as CSV</button>

            <button type="button" class="btn btn-default"   ng-class="standardCtrl.pdfButtonClass" ng-click="standardCtrl.goNext('pdfButton')">Save as PDF</button>

            <!-- <button type="button" class="btn btn-default" ng-class="standardCtrl.dataVisButtonClass" ng-click="standardCtrl.goNext('dataVisButton')">Change Visualization</button> -->
          </div>
          <!-- <div id="selectionButtons" class="btn-group col-xs-12" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-model="standardCtrl.csvButton" ng-class="standardCtrl.csvButtonClass"  ng-click="standardCtrl.changeActive(standardCtrl.csvButton)">Save as CSV</button>

            <button type="button" class="btn btn-default"  ng-model="standardCtrl.pdfButton" ng-class="standardCtrl.pdfButtonClass" ng-click="standardCtrl.changeActive(standardCtrl.pdfButton)">Save as PDF</button>

            <button type="button" class="btn btn-default"  ng-model="standardCtrl.dataVisButton" ng-class="standardCtrl.dataVisButtonClass" ng-click="standardCtrl.changeActive(standardCtrl.dataVisButton)">Change Visualization</button>
          </div> -->
          <!-- <div class="col-xs-12 col-md-1">
            <button type="button" id="standardReport-goButton" class="btn btn-success"  ng-model="standardCtrl.goButton" ng-click="standardCtrl.goNext()">Go</button>

          </div> -->


        </div>

      </div>


    </div>

  </div>
  </div>

</div>
