<div class="container-fluid">

  <div class="standardReportHeader">
  <div class="row">


    <div class="col-xs-11 col-sm-3 col-md-3">
      <img src="../images/image001.png" alt="Angel Foundation Logo">
    </div>
    <div class="col-xs-11 col-sm-6 col-md-6">
      <!-- title -->
      <h1>Standard Report</h1>
    </div>
    <!-- <div class="col-md-3 col-sm-3 col-xs-12"> -->

    <div class="dropdown col-xs-11 col-sm-2 col-md-2">
      <div class="">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          <span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="/">Standard Reports</a></li>
          <li><a href="/custom-report">Custom Reports</a></li>
          <li><a href="/data-upload">Upload</a></li>
        </ul>
      </div>

    </div>
  </div>
</div>

</div>

<div>
  <p>
    <!-- spacing div -->
  </p>
</div>


<div class=container-fluid>

  <div class="row">




  <!-- report list div -->
  <div id="standardReport-reportList" class="col-xs-4 col-sm-3 col-md-3 col-lg-2">

    <p>
      Standard Reports List

    </p>


  </div>



  <div class="col-xs-8 col-sm-9 col-md-9 col-lg-10" >



    <!-- report preview -->
    <div id="standardReport-reportPreview" class="">

      <p>
        Standard Report Preview
      </p>

    </div>



    <!-- buttons div -->
    <div id="standardReport-reportButtons" class="container-fluid">
      <p>
        Please Select, then click GO:
      </p>
      <div class="row">


        <div class="btn-group col-xs-12 col-sm-11" role="group" aria-label="...">
          <button type="button" class="btn btn-default" ng-model="standardCtrl.csvButton" ng-class="standardCtrl.csvButtonClass"  ng-click="standardCtrl.changeActive(standardCtrl.csvButton)">Save as CSV</button>

          <button type="button" class="btn btn-default"  ng-model="standardCtrl.pdfButton" ng-class="standardCtrl.pdfButtonClass" ng-click="standardCtrl.changeActive(standardCtrl.pdfButton)">Save as PDF</button>

          <button type="button" class="btn btn-default"  ng-model="standardCtrl.dataVisButton" ng-class="standardCtrl.dataVisButtonClass" ng-click="standardCtrl.changeActive(standardCtrl.dataVisButton)">Change Visualization</button>
        </div>
        <div class="col-xs-12 col-sm-1">
          <button type="button" id="standardReport-goButton" class="btn btn-success"  ng-model="standardCtrl.goButton" ng-click="standardCtrl.goNext()">Go</button>

        </div>


      </div>

    </div>


  </div>

</div>
</div>
