
#inputOptions {
  width: 100%;
  height: 100%;
  margin-top: 20%;
}

#uploadSubmit {
  margin-top: 4%;
}
#uploader{
  margin-top:4%;
  padding:0px;
  max-height:25px;

}
#uploadCSVInput{
  border:none;
  padding:0px;
  text-align: center;
}
