
/* data upload page*/

/*
COLORS:

Gray-black:			rgb(68,68,68);		#444444
Dark blue:			rgb(0,82,156);		#00529c
Medium blue:		rgb(68,136,187);	#4488bb
Medium blue 2:		rgb(36,126,176);	#247eb0
Light blue:			rgb(192,215,234);	#c0d7ea
Very light blue:	rgb(230,238,242);	#e6eef2
Green:				rgb(149,193,69);	#95c145
Yellow-green:		rgb(211,223,115);	#d3df73
*/


/* standard report view */

.standardReportHeader img {
  height: 50px;
}

.standardReportHeader div {
/*border: 1px solid purple;*/
}

#standardReport-reportList {
  /*border: 1px solid purple;*/
}

#standardReport-reportList li {
  list-style: none;
  border: 2px solid rgb(0, 0, 0);
  margin: 5px;
}

#standardReport-reportList li:hover {
  background-color: rgb(84, 84, 84);
}

#standardReport-reportPreview {
  /*border: 1px solid purple;*/
}

#standardReport-reportButtons {
  /*border: 1px solid purple;*/
  font-family: helvetica, sans-serif;
  font-weight: bold;

}

#standardReport-reportButtons button {
  background-color: #4488bb;
  color: white;
}

#standardReport-reportButtons button.active {
  background-color: #00529c;
  color: white;
}

#standardReport-reportButtons button:hover {
  background-color: #247eb0;
  color: white;
}

#standardReport-reportButtons #standardReport-goButton {
  background-color: #95c145;
}

#standardReport-reportButtons #standardReport-goButton:hover {
  background-color: #d3df73;
  color: black;
}


/* table styling */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
#fakeTable{
  display: inline-block;
  list-style: none;
}

/* Data Upload page */
#inputOptions {
  width: 100%;
  height: 100%;
  margin-top: 20%;
}

#uploadSubmit {
  margin-top: 4%;

}
#uploader{
  margin-top:4%;
  padding:0px;
  max-height:25px;

}
#uploadCSVInput{
  border:none;
  padding:0px;
  text-align: center;
}

.uploadCSVHeader img {
  height: 50px;
}











/*-----------test-----------*/

p.chartNav {
	margin: 3px;
	font-weight: bold;
}

select.drgSelect {
	width: 500px;
}

.barLabel, .barValueLabel {
	pointer-events : none;
}

.footer {
	background-color: #E8E8E8;
	margin-left: 3px;
	margin-top: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-size: 10px;
	clear: both;
}

.footer p {
	margin-top: 10px;
}

.strong{
	font-weight: bold;
	font-size: 14px;
}

.d3-tip {
    font-size: 12px;
    padding: 9px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    text-align: center;
  }

#mapDiv {
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
}

#countyInfo {
	margin-left: 400px;
}

select {
	margin-left: 25px;
}

.MinneapolisStPaulBloomingtonMNWI{
	fill: #5E98E2;
}

.StCloudMN{
	fill: #5E98E2;
}

.MankatoNorthMankatoMN{
	fill: #5E98E2;
}

.DuluthMNWI{
	fill: #5E98E2;
}

.FargoNDMN{
	fill: #5E98E2;
}

.RochesterMN{
	fill: #5E98E2;
}

.LaCrosseOnalaskaWIMN{
	fill: #5E98E2;
}

.GrandForksNDMN{
	fill: #5E98E2;
}

.nonMetro {
	fill: #9BBAE2;
}

#highlightPath {
	fill: none;
	stroke-width: 4;
	stroke: #005bcf
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

text{
	font-size:12px
}

.popArea {
  fill: #007AFF;
}

.schoolArea {
  fill: #1750CA;
}

.stateLine {
  fill: none;
  stroke: #FFFF00;
  stroke-width: 3;
  stroke-dasharray: 5,5;
}

.lowest{
  fill:#111;
}
.lower{
  fill:#333;
}
.low{
  fill:#555;
}
.medium{
  fill:#777;
}
.high{
  fill:#999;
}
.higher{
  fill:#bbb;
}
.highest{
  fill:#ddd;
}



#slider{
  width:50%;
  position:relative;
  left:50px;
}

.d3-slider {
    position: relative;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    border: 1px solid #aaaaaa;
    z-index: 2;
}

.d3-slider-horizontal {
    height: .8em;
}

.d3-slider-range {
  background:#2980b9;
  left:0px;
  right:0px;
  height: 0.8em;
  position: absolute;
}

.d3-slider-range-vertical {
  background:#2980b9;
  left:0px;
  right:0px;
  position: absolute;
  top:0;
}

.d3-slider-vertical {
    width: .8em;
    height: 100px;
}

.d3-slider-handle {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background: #eee;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
    z-index: 3;
}

.d3-slider-handle:hover {
    border: 1px solid #999999;
}

.d3-slider-horizontal .d3-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}

.d3-slider-axis {
    position: relative;
    z-index: 1;
}

.d3-slider-axis-bottom {
    top: .8em;
}

.d3-slider-axis-right {
    left: .8em;
}

.d3-slider-axis path {
    stroke-width: 0;
    fill: none;
}

.d3-slider-axis line {
    fill: none;
    stroke: #aaa;
    shape-rendering: crispEdges;
}

.d3-slider-axis text {
    font-size: 11px;
}

.d3-slider-vertical .d3-slider-handle {
    left: -.25em;
    margin-left: 0;
    margin-bottom: -.6em;
}


.ca, .us {fill: #DF4949;}
.uc, .br, .mx {fill: #E27A3F;}
.other {fill: #45B29D;}



circle {
  stroke: black;
  stroke-width: 2px;
  opacity: .8;
}
.btn-group {
  margin-left: 330px;
}
.label {
  fill: black;
  font-size: 16px;
}


.active{
  stroke-width: 5px;
}


/*-----------------------------custom report styles------------------------------*/

#dataSetContainer{
  background-color:rgb(0,82,156);
  border:2px solid black;
  color:white;
  font-family:  'Helvetica', Arial, sans-serif !important;
  padding:0px;
  text-align: center;
}
#dataSetContainer ul{
  list-style: none;
  padding:0px;
  font-size:16px;
  box-shadow:inset 0px 0px 40px 2px rgba(0, 0, 0, 0.47);
}
#expanderDiv{
  max-height:40px;
  transition: all ease 1.2s;
  overflow:hidden;
}
#expanderDiv:hover{
  max-height:200px;
}
#categoryTitle{
  font-size:25px;
  height:40px;
}
#customReportSelections{
  /*padding-left: 5px;
  padding-right: 2px;*/
    padding:0px;
    text-align: center;
  background-color:rgb(0,82,156);
  border:2px solid black;
  color:white;
  font-family: 'proxima-nova', Helvetica, Arial, sans-serif !important;

}
#customReportSelections ul{
  padding: 0px;
  font-size:16px;
}

.customReportHeader img {
  height: 50px;
}

/*-----------------------------custom report styles------------------------------*/
